Repository jjinppang/jjinppang, pull requests merged in 2023-09, with the labels that each got.

#14 Feature/be/oauth2 social
  Backend/build.gradle
  Backend/src/main/java/org/jjinppang/jjinppang/auth/controller/AuthController.java
  Backend/src/main/java/org/jjinppang/jjinppang/auth/response/TokenResponse.java
  Backend/src/main/java/org/jjinppang/jjinppang/auth/service/AuthService.java
  Backend/src/main/java/org/jjinppang/jjinppang/auth/service/AuthServiceImpl.java
  Backend/src/main/java/org/jjinppang/jjinppang/common/NotFoundException.java
  Backend/src/main/java/org/jjinppang/jjinppang/common/NotMatchException.java
  Backend/src/main/java/org/jjinppang/jjinppang/common/OAuthProviderNotExistException.java
  Backend/src/main/java/org/jjinppang/jjinppang/common/response/ExceptionResponse.java
  Backend/src/main/java/org/jjinppang/jjinppang/config/LoginUser.java
  Backend/src/main/java/org/jjinppang/jjinppang/config/LoginUserArgumentResolver.java
  Backend/src/main/java/org/jjinppang/jjinppang/config/WebConfig.java
  Backend/src/main/java/org/jjinppang/jjinppang/controller/DummyController.java
  Backend/src/main/java/org/jjinppang/jjinppang/domain/auth/Auth.java
  Backend/src/main/java/org/jjinppang/jjinppang/domain/auth/repository/AuthRepository.java
  Backend/src/main/java/org/jjinppang/jjinppang/domain/user/User.java
  Backend/src/main/java/org/jjinppang/jjinppang/domain/user/UserRegion.java
  Backend/src/main/java/org/jjinppang/jjinppang/domain/user/repository/UserRepository.java
  Backend/src/main/java/org/jjinppang/jjinppang/domain/user/type/Provider.java
  Backend/src/main/java/org/jjinppang/jjinppang/domain/user/type/Role.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/config/SecurityConfig.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/filter/JwtAuthenticationFilter.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/handler/CustomAccessDeniedHandler.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/handler/CustomAuthenticationEntryPoint.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/handler/OAuthAuthenticationFailureHandler.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/handler/OAuthAuthenticationSuccessHandler.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/oauth/CustomOAuth2User.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/oauth/GoogleOAuth2UserInfo.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/oauth/KakaoOAuth2UserInfo.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/oauth/LoginUserDetails.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/oauth/OAuth2UserInfo.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/oauth/OAuth2UserInfoFactory.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/service/OAuth2UserService.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/service/UserDetailService.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/util/JwtUtil.java
  Backend/src/main/resources/application-dev.yml
  Backend/src/main/resources/application-local.yml
  Backend/src/main/resources/application.yml
Labels: 🕋 backend, 💡 feature

#16 Feature/project setting
  Frontend/jjinppang-fe/package-lock.json
  Frontend/jjinppang-fe/package.json
  Frontend/jjinppang-fe/public/images/character.svg
  Frontend/jjinppang-fe/public/images/logo.svg
  Frontend/jjinppang-fe/public/images/navCharacter.svg
  Frontend/jjinppang-fe/src/App.js
  Frontend/jjinppang-fe/src/components/Navbar.jsx
  Frontend/jjinppang-fe/src/index.js
  Frontend/jjinppang-fe/src/pages/Login.jsx
  Frontend/jjinppang-fe/src/pages/Main.jsx
  Frontend/jjinppang-fe/src/pages/Signup.jsx
  Frontend/jjinppang-fe/src/shared/Router.js
  Frontend/jjinppang-fe/src/style/styles.css
  Frontend/jjinppang-fe/tailwind.config.js
  Frontend/jjinppang-fe/yarn.lock
Labels: ⚙️ setting, 🖥️ frontend, 💡 feature, 🎨 UI

#18 fix : 프로젝트 세팅 수정
  Frontend/jjinppang-fe/src/assets/googleicon.svg
  Frontend/jjinppang-fe/src/assets/kakaoicon.svg
  Frontend/jjinppang-fe/src/assets/loginicon.svg
  Frontend/jjinppang-fe/src/assets/nomallogin.svg
  Frontend/jjinppang-fe/src/assets/search.svg
  Frontend/jjinppang-fe/src/pages/EmailLogin.jsx
  Frontend/jjinppang-fe/src/pages/Login.jsx
  Frontend/jjinppang-fe/src/pages/Main.jsx
  Frontend/jjinppang-fe/src/shared/Router.js
  Frontend/jjinppang-fe/src/style/styles.css
Labels: 🐞 bug, ⚙️ setting

#21 Feature/be/applyl swagger
  Backend/build.gradle
  Backend/src/main/java/org/jjinppang/jjinppang/config/SwaggerConfiguration.java
  Backend/src/main/resources/application.yml
Labels: 🕋 backend, 🧱 infra

#23 Refactor/be/module refactor
  Backend/src/main/java/org/jjinppang/jjinppang/api/auth/controller/AuthController.java
  Backend/src/main/java/org/jjinppang/jjinppang/api/auth/response/TokenResponse.java
  Backend/src/main/java/org/jjinppang/jjinppang/api/auth/service/AuthService.java
  Backend/src/main/java/org/jjinppang/jjinppang/api/auth/service/AuthServiceImpl.java
  Backend/src/main/java/org/jjinppang/jjinppang/api/dummy/controller/DummyController.java
  Backend/src/main/java/org/jjinppang/jjinppang/common/response/ApiResponse.java
  Backend/src/main/java/org/jjinppang/jjinppang/controller/DummyController.java
  Backend/src/main/java/org/jjinppang/jjinppang/security/handler/OAuthAuthenticationSuccessHandler.java
Labels: 🕋 backend, 🛠️ refactor

#25 Feature/be/create dummy api
  Backend/src/main/java/org/jjinppang/jjinppang/api/dummy/controller/DummyController.java
  Backend/src/main/java/org/jjinppang/jjinppang/common/NotFoundException.java
  Backend/src/main/resources/likeRegion.json
  Backend/src/main/resources/profile.json
  Backend/src/main/resources/searchRegion.json
Labels: 🕋 backend, 💡 feature
